@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
    font-family: 'PokemonSolid';
    src: url('Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fff1bb;
    padding: 0;
    margin: 0;
   
   
}

header h1 {
    font-family: 'PokemonSolid';
    color: #ffcc03;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.614);
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    letter-spacing: 4px;
    font-size: 2.5rem;
     margin: 0;
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    background-color: #ca6f6f;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
}



h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px
}

.nav-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #109397;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.263);
    color: #fff; 
    border: none;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-btn:hover {
    background-color: #0f7d81;
    transform: scale(1.1);
    cursor: pointer;
}


main {
    height: auto;
    
}

/*____________________________________*/
/*ta bort när jag är klara med designen*/


.find-champs-section {
    border: #fff solid 2px;  
}

.selected-pokemons {
    border: #fff solid 2px; 
}


/*____________________________________*/



/* Media query för att anpassa för större skärmar */
@media (min-width: 768px) {
    .start-view {
        grid-template-columns: 1fr 1fr;
    }
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .selected-champion {
        padding: 5px;
    }

    .selected-champion .image {
        width: 80px;
        height: 80px;
    }

    h2 {
        font-size: 1rem;
    }

    .add-to-team-btn,
    .Kick-from-team-btn {
        padding: 5px 8px;
        font-size: 0.8rem;
    }

    .search-champion {
        padding: 5px;
    }

    main{
        padding: 0;
    
    }
    .start-view{
        padding: 10px;
        
    
    }
    
}

/*______________________*/
.hidden{
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}


/*______________________*/

/*färger*/
/*
#ecb223	= gul
#e5bb81	= bege
#2b0d7a	= mörkblå
#a87358	= brun
#b3aac3	= ljuslila
#315759 = mörkgrön

#ff0000 = röd
#cc0000	= mörkröd
#3b4cca	= blå
#ffde00	= gul
#b3a125 = brun

*/