/* Media Query for smaller screens */
@media (max-width: 766px) {
    
    
    .selected-champion {
        padding: 5px;
        height: 280px;
    }

   
    .search-champion{
         
        width: 15rem;
    }

    
    
    h2{
        font-size: 1.2rem;
    }
    .search-champion {
        padding: 5px;
    }

    .start-view {
        padding: 2px;
    }

    .selected-pokemons {
        padding: 0.5rem;
    }


    .find-champs-section {
        height: 20rem;
    }
    .search-results{
        height: 14rem;
    }
    .team{
        height: 19rem;
    }
    .reserv{
        height: 14rem;
    }



    .search-image {
        width: 30%;
    }
    .reserv-image {
        width: 30%; 
       
    }
   
    .selected-image{
        width: 30%;
    }
    .selected-champion {
        padding: 5px;
    }

    .search-champion {
        padding: 5px;
    }

    .selected-pokemons {
        padding: 0.5rem;
    }
    .selected-champion .real-name,
    .selected-champion .nickname {
        font-size: 1rem;
    }

    .selected-champion button {
        margin: 2px 0;
    }
}

/* Media query för att anpassa för större skärmar */
@media (min-width: 768px) {
    .start-view {
        grid-template-columns: 1fr 1fr;
    }

    .selected-champion {
        height: 270px;
    }
 
} 

@media screen and (min-width: 1024px) {
    .search-results-list {
        list-style: none; 
        align-items: center;
        justify-content: center; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 100%;
    }
}




@media screen and (min-width: 500px) and (max-width: 755px) {
    .search-results-list {
        list-style: none; 
        align-items: center;
        justify-content: center; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 100%;
    }
}