/* Media Query for smaller screens */
@media (max-width: 766px) {
    
    
    .selected-champion {
        padding: 5px;
    }

    .selected-champion .image {
        width: 80px;
        height: 80px;
    }
    .search-champion{
         
        width: 15rem;
    }

    .search-champion img {
        width: 40%; 
        height: 40%; 
    }
    
    h2{
        font-size: 1.2rem;
    }
    .search-champion {
        padding: 5px;
    }

    .start-view {
        padding: 2px;
    }

    .selected-pokemons {
        padding: 0.5rem;
    }
    .find-champs-section {
        height: 60vh;
    }
    .search-results{
        height: 50vh;
    }
    .team{
        height: 38vh;
    }
    .reserv{
        height: 50vh;
    }
}

/* Media query för att anpassa för större skärmar */
@media (min-width: 768px) {
    .start-view {
        grid-template-columns: 1fr 1fr;
    }

    .selected-champion {
        padding: 5px;
    }

    .selected-champion .image {
        width: 80px;
        height: 80px;
    }

    

    .search-champion {
        padding: 5px;
    }


    
    .selected-pokemons {
        padding: 0.5rem;
    }

    
}

@media screen and (max-width: 600px) {
    .selected-champion {
        height: 300px;
        align-items: center;
    }

    .selected-champion-img img {
        width: 30%;
    }

    .selected-champion .real-name,
    .selected-champion .nickname {
        font-size: 1rem;
    }

    .selected-champion button {
        margin: 2px 0;
    }
}




 
@media screen and (max-width: 368px) and (max-height: 700px) {
    .find-champs-section {
        height: 62vh;
    }
    .search-results {
        height: 48vh;
    }
    .team {
        height: 48vh;
    }
    .reserv {
        height: 33vh;
    }
}
