.my-team-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-container {
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: #acaaaa 5px solid;
    padding: 1rem;
}

.selected-champion .team-container,
.selected-champion .single-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 0.4em;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #444;
    border-radius: 0.5em;
    align-items: center;
    width: 80%;
    gap: 1rem;
}

@media (min-width: 768px) {
    .row-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .team-container {
        width: 60%;
    }
    .single-container {
        width: 20%;
    }
}
