.start-view{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 20px;
    margin: 0 auto;
    height: auto;
}





.selected-champion img {
    position: relative;
    top: -40px;
    right: 20px;
    width: 100px;
    height: 100px;
    
}

h2 {
    font-size: 1.2rem;
    color: #333;
}


.text{
    font-size: 1.2rem;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #fff solid 2px; 
    border-radius: 1em;
    padding: 1em;
    height: 90%;

}

.reserv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    border: #fff solid 2px; 
    border-radius: 1em;
    padding: 1em;
    height: 60%;
    margin-top: 1rem;
    overflow-y: auto;
    overflow-x: hidden; 
}



.add-to-team-btn {
    padding: 5px 10px;
    font-size: 0.85rem;
    margin-bottom: 3px;
    background-color: #109397;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-team-btn:hover {
    transform: scale(1.2);
}


.search-champion{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    height: 9rem;
    
    
}
.search-champion img {
    width: 100px; 
    height: 100px; 
    position: relative;
    
    
}
.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
   
    flex: 1;
}
.search-champion h2 {
    font-size: 1.2em;
}


/*__________________________________________*/
.search-container {
    padding: 15px;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px 0px 0px 20px;
    margin-right: 3px;
}


.search-button {
    padding: 11px;
    background-color: #109397;
    color: #fff;
    border: none;
    border-radius: 0px 20px 20px 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
    background-color: #0f7d81;
    transform: scale(1.1);
    cursor: pointer;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
}

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 1rem;
    border: #fff solid 2px;  
    height: 80%;
    border-radius: 1em;
    overflow-y: auto;
    overflow-x: hidden; 
    max-height: 700px;
}


/*__________________________________________*/



.find-champs-section {
    padding: 1em;
    background-color:   #acaaaa62;
    border-radius: 1rem;
    height: 100vh;
    
     
}

.selected-pokemons {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color:  #acaaaa62;
    border-radius: 1rem;
    height: 100vh;
    gap: 0.5rem;
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.modal button:hover {
    background-color: #45a049;
}


@media (max-width: 766px) {
    .search-results {
        height: 78%;
    }
    .find-champs-section {
        height: 60vh;  
    }
}


/* Media query för att anpassa för större skärmar */
@media (min-width: 768px) {
    .start-view {
        grid-template-columns: 1fr 1fr;
    }
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .selected-champion {
        padding: 5px;
    }

    .selected-champion .image {
        width: 80px;
        height: 80px;
    }

    h2 {
        font-size: 1rem;
    }

    

    .search-champion {
        padding: 5px;
    }

   

   
    .start-view{
        padding: 10px;
        
    
    }

.selected-pokemons {
    padding: 0.5rem;
}
    
}

