.start-view{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 5px;
    margin: 0 auto;
    height: auto;
}



/*__________________________________________*/
/* hitta pokemon / sökfällt höger sida */

.find-champs-section {
    padding: 0.5em;
    background-color:   #fef2b162;
    border-radius: 1rem;
    height: 100vh;
}

.search-champion{
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    height: 200px;
}
.search-champion img {
    width: 40%; 
    height: 40%; 
    position: relative;   
}
.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.search-champion h2 {
    font-size: 1.2em;
}

/*btn lägg till pokemon i team*/
.add-to-team-btn {
    padding: 5px 10px;
    font-size: 0.85rem;
    margin-bottom: 3px;
    background-color: #109771;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.add-to-team-btn:hover {
    transform: scale(1.1);
}


/*_____________________*/
/* sökfält */
.search-container {
    padding: 15px;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px 0px 0px 20px;
    margin-right: 3px;
}


.search-button {
    padding: 11px;
    background-color: #109397;
    color: #fff;
    border: none;
    border-radius: 0px 20px 20px 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
    background-color: #0f7d81;
    transform: scale(1.1);
    cursor: pointer;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
}

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 0;
    border-top: #fff solid 2px;
    border-bottom: #fff solid 2px;
    background-color: #fdf7dc;
    height: 80%;
    border-radius: 1em;
}

.search-results-list {
    overflow-y: auto;
    height: 100%;
}





